<footer>
    <section class="nav">
        <img src="images/baleine.png" alt="Baleine">
        <nav>
            <ul>
                <li><a href="/"><img src="images/home.png" alt="Acceuil"></a></li>
                <li><a href="/formation"><img src="images/formation.png" alt="Formation"></a></li>
                <li><a href="/contact"><img src="images/contact.png" alt="Contact"></a></li>
            </ul>
        </nav>
    </section>
    <hr>
    <p>Création du site par Soihiroudine</p>
</footer>