<header>
    <section class="nav">
        <img src="images/baleine.png" alt="Baleine">
        <nav>
            <ul>
                <li><a href="/"><img src="images/home.png" alt="Acceuil"></a></li>
                <li><a href="/formation"><img src="images/formation.png" alt="Formation"></a></li>
                <li><a href="/contact"><img src="images/contact.png" alt="Contact"></a></li>
            </ul>
        </nav>
    </section>

    <section class="headerInscription">
        <a href="/connexion"><img src="images/login.png" alt="Inscription"></a>
    </section>
</header>

<style>
header {
    background-color: #0289F0;
    color: #17202a;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
header .nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header .nav > img {
    width: 70px;
    height: 70px;
    margin: 1em 1.5em;
    transition: 0.4s;
}

header nav img:hover, .headerInscription img:hover {
    transform: scale(1.5);
    filter: sepia(100%);
    -webkit-filter: sepia(100%);
}

header ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

header li {
    padding: 1em 1em;
}

header a {
    text-decoration: none;
    color: #F3F9FE;
    font-size: 1.2em;
}

header a img {
    width: 40px;
    height: 40px;
    color: #F3F9FE;
    filter: invert(100%);
    -webkit-filter: invert(100%);
    transition: 0.6s;
}

.headerInscription {
    margin: 1em 2em;
}

.headerInscription img {
    width: 40px;
    height: 40px;
}
</style>