<main>

    <section class="eleves">
        <ul>
            <li><%= %></li>
            <li><%= %></li>
            <li><%= %></li>
        </ul>

        <section class="bouton">
            <form action="/afficheEleve" method="post">
                <input type="button" value="supprimer">
            </form>
        </section>
    </section>
</main>