<main>
<section id="contact">
    <p>Nous contacter</p>
    <form action="#" method="post">
        <section class="informationFormulaire">
            <!-- <label for="messageNom">Nom</label> -->
            <input type="text" id="messageNom" name="messageNom" placeholder="nom" required>
        </section>

        <section class="informationFormulaire">
            <!-- <label for="messagePrenom">Prenom</label> -->
            <input type="text" id="messagePrenom" name="messagePrenom" placeholder="prenom" required>
        </section>

        <section class="informationFormulaire">
            <!-- <label for="messageMail">E-mail</label> -->
            <input type="email" id="messageMail" name="messageMail" placeholder="mail" required>
        </section>

        <section class="informationFormulaire">
            <textarea name="message" id="message" placeholder="votre message..."></textarea>
        </section>

        <section class="informationFormulaire">
            <input type="submit" id="bouton" value="Envoyer">
        </section>
    </form>
</section>
</main>