<main>
    <section class="inscription">

        <% if (estAdmin) { %>
        <section class="infoLiens">
            <h1>Page reservé aux addministrateur</h1>
            <p>Connectez-vous dans le formulaire</p>
            <p><a href="/inscription">Lien inscription Eleves</a></p>
        </section>

        <form action="/connexion" method="post">
            <section class="informationFormulaire">
                <input type="text" id="nomAdmin" name="nomAdmin" placeholder="Identifiant" required>
            </section>

            <section class="informationFormulaire">
                <input type="password" id="passwordConnexion" name="passwordConnexion" class="motDePasse"
                        placeholder="Mot de passe" required>
                <img src="images/passHide.png" alt="hide" class="imgMotPasse">
            </section>

            <section class="informationFormulaire">
                <input type="submit" value="Se connecter">
            </section>
        </form>
    </section>

        <% }else { %>
    <section class="infoLiens">
        <h1>Inscrivez-vous ici</h1>
    </section>
    <form action="/inscription" method="post">
        <section class="informationFormulaire">
            <!-- <label for="nom">Nom</label> -->
            <input type="text" id="nom" name="nom" placeholder="nom" required>
        </section>

        <section class="informationFormulaire">
            <!-- <label for="prenom">Prenom</label> -->
            <input type="text" id="prenom" name="prenom" placeholder="prenom" required>
        </section>

        <section class="informationFormulaire">
            <!-- <label for="E-mail">E-mail</label> -->
            <input type="email" id="mail" name="mail" placeholder="mail" required>
        </section>

        <section class="informationFormulaire">
            <input type="submit" id="bouton" value="Envoyer">
        </section>
    </form>
    <% } %>
    </section>
</main>