<main>
    <section class="profil">
        <h1>Bienvenu <%= utilisateur %></h1>
        <p>Ceci est votre profil.</p>
        <section class="evennement">
            <a href="/listeEleve">Eleves</a>
            <a href="/logout">Se déconnecter</a>
        </section>
    </section>  
</main>