.inscription {
    width: 60%;
    padding: 3em;
    margin: 0 auto;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.infoLiens {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.infoLiens h1 {
    font-size: 2.5em;
    color: #17202a;
}

.infoLiens p {
    font-size: 1.5em;
    margin: 1em 0.1em;
    text-align: center;
}

.infoLiens a {
    font-weight: bold;
    color: #0429F1;
}

.inscription form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.informationFormulaire {
    position: relative;
}

.informationFormulaire input {
    background-color: #A1AFF7;
    padding: 0.9em 1em;
    outline: none;  
    border: none;
    border-bottom: 2px solid #F3F9FE;
    font-size: 1.3em;
    transition: 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    width: 400px;
}

::placeholder {
    color: #F3F9FE;
}

.informationFormulaire input[type="submit"] {
    cursor: pointer;
    background-color: #0289F0;
    color: #F3F9FE;
}

.informationFormulaire input:focus:not(input[type="submit"]), .informationFormulaire input:hover:not(input[type="submit"])  {
    background-color: #00F0B4;
    border-bottom: 2px solid #0289F0;
    color: #17202a;
}

.informationFormulaire img {
    width:40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    filter: invert(100%);
    -webkit-filter: invert(100%);
    transition-delay: 2.7s;
}

.informationFormulaire img:hover {
    filter: sepia(100%);
    -webkit-filter: sepia(100%);
}