.profil {
    width: 70%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    padding: 10em;
    
}
.evennement {
    margin: 1em;
}

.evennement a {
    text-decoration: none;
    font-size: 1.4em;
    color: #024170;
    background-color: #F3F9FE;
    border-radius: 0.2em;
    padding: 0.1em;
    margin: 1em;
    transition: 0.4s;
}

.evennement a:hover {
    background-color: #024170;
    color: #F3F9FE;
    transform: scale(1.2);
}